body {
    background-color: #FF6633;
    color: #7D3F00;
   fontFamily: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #FF8C42;
    color: #7D3F00;
 fontFamily: 'Noto Sans', system-ui;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
